.hidden {
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.codeSquare {
  position: relative;
  float: left;
  width: 200px;
  height: 40px;
}

.colorSelector {
  position: absolute;
  bottom: 0px;
  right: 10px;
}

.codeRow {
  display: inline-block;
  height: 50px;
}
